body {
  font-family: EB Garamond, serif;
}

.center {
  text-align: center;
}

.spaced {
  letter-spacing: 3px;
}

.logo-red {
  color: rgb(180, 100, 100);
}

/* Was (98, 168, 89) */
.logo-green {
  color: rgb(100, 180, 100);
}

.logo-blue {
  color: rgb(100, 100, 180);
}

.accent-red {
  background-color: rgb(255, 127, 0, 0.2);
}

.accent-green {
  background-color: rgb(0, 255, 127, 0.2);
}

.accent-blue {
  background-color: rgb(127, 0, 255, 0.2);
}

.rainbow-text-animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #99ff00,  #ff0099, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow-animation {
  0%,100% { background-position: 0 0; }
  50% { background-position: 100% 0; }
}
